@model MVCCore.DatabaseFirstModel.ListadoCarrera

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ListadoCarrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FacultadId" class="control-label"></label>
                <select asp-for="FacultadId" class ="form-control" asp-items="ViewBag.FacultadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionEstimadaAnios" class="control-label"></label>
                <input asp-for="DuracionEstimadaAnios" class="form-control" />
                <span asp-validation-for="DuracionEstimadaAnios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
