@model MVCCore.DatabaseFirstModel.ListadoCarreras

@{
    ViewData["Title"] = "Editar registro del listado de carreras";
}

<h1>Editar</h1>

<h4>Listado de Carreras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListadoCarrerasId" class="control-label"></label>
                <input asp-for="ListadoCarrerasId" class="form-control" disabled />
                <input asp-for="ListadoCarrerasId" class="form-control" hidden />
                <span asp-validation-for="ListadoCarrerasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultadId" class="control-label"></label>
                <select asp-for="FacultadId" class="form-control" asp-items="ViewBag.FacultadId"></select>
                <span asp-validation-for="FacultadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" placeholder="Titulo" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionEstimadaAnios" class="control-label"></label>
                <input asp-for="DuracionEstimadaAnios" type="number" class="form-control" placeholder="##" min="0" max="20" />
                <span asp-validation-for="DuracionEstimadaAnios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
