USE [Alumnos]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notas]') AND type in (N'U'))
ALTER TABLE [dbo].[Notas] DROP CONSTRAINT IF EXISTS [FK_Notas_Asignaturas_AsignaturaID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Materias]') AND type in (N'U'))
ALTER TABLE [dbo].[Materias] DROP CONSTRAINT IF EXISTS [FK_Materias_Carrera_CarreraID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carreras]') AND type in (N'U'))
ALTER TABLE [dbo].[Carreras] DROP CONSTRAINT IF EXISTS [FK_Carreras_Facultades_FacultadID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Asignaturas]') AND type in (N'U'))
ALTER TABLE [dbo].[Asignaturas] DROP CONSTRAINT IF EXISTS [FK_Asignaturas_Materias_MateriaID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Asignaturas]') AND type in (N'U'))
ALTER TABLE [dbo].[Asignaturas] DROP CONSTRAINT IF EXISTS [FK_Asignaturas_Alumnos_AlumnoID]
GO
/****** Object:  Index [UK_Asignaturas]    Script Date: 27/11/2020 3:08:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Asignaturas]') AND type in (N'U'))
ALTER TABLE [dbo].[Asignaturas] DROP CONSTRAINT IF EXISTS [UK_Asignaturas]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Notas]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Materias]
GO
/****** Object:  Table [dbo].[Facultades]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Facultades]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Carreras]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Asignaturas]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 27/11/2020 3:08:14 ******/
DROP TABLE IF EXISTS [dbo].[Alumnos]
GO
USE [master]
GO
/****** Object:  Database [Alumnos]    Script Date: 27/11/2020 3:08:14 ******/
DROP DATABASE IF EXISTS [Alumnos]
GO
/****** Object:  Database [Alumnos]    Script Date: 27/11/2020 3:08:14 ******/
CREATE DATABASE [Alumnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Alumnos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Alumnos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Alumnos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Alumnos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Alumnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Alumnos]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[AlumnoID] [int] IDENTITY(1,1) NOT NULL,
	[CarreraID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Edad] [tinyint] NOT NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[AlumnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[AsignaturaID] [int] IDENTITY(1,1) NOT NULL,
	[MateriaID] [int] NOT NULL,
	[AlumnoID] [int] NOT NULL,
	[Comision] [int] NOT NULL,
	[HorarioEntrada] [time](0) NOT NULL,
	[HorarioSalida] [time](0) NOT NULL,
	[Dias] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Asignaturas_1] PRIMARY KEY CLUSTERED 
(
	[MateriaID] ASC,
	[AlumnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraID] [int] IDENTITY(1,1) NOT NULL,
	[FacultadID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[DuracionEstimadaAnios] [float] NOT NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[CarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultades]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultades](
	[FacultadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [int] NULL,
	[DepartamentoAlumnos] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[PaginaWeb] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[RecorridoVirtual] [nvarchar](max) NULL,
 CONSTRAINT [PK_Facultades] PRIMARY KEY CLUSTERED 
(
	[FacultadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[MateriaID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](5) NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Creditos] [tinyint] NULL,
	[Horas] [smallint] NULL,
	[Correlativas] [nvarchar](50) NULL,
	[Categoria] [nvarchar](max) NOT NULL,
	[CarreraID] [int] NOT NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 27/11/2020 3:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[NotasID] [int] IDENTITY(1,1) NOT NULL,
	[AsignaturaID] [int] NULL,
	[PrimerParcial] [float] NULL,
	[PrimerRecuperatorio] [float] NULL,
	[SegundoParcial] [float] NULL,
	[SegundoRecuperatorio] [float] NULL,
	[Final] [float] NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[NotasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([AlumnoID], [CarreraID], [Nombre], [Apellido], [Edad], [DNI]) VALUES (1, 6, N'Patricio', N'Cordoba', 28, 37035790)
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Asignaturas] ON 

INSERT [dbo].[Asignaturas] ([AsignaturaID], [MateriaID], [AlumnoID], [Comision], [HorarioEntrada], [HorarioSalida], [Dias]) VALUES (1, 1, 1, 100, CAST(N'13:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Lunes-Miercoles-Viernes')
SET IDENTITY_INSERT [dbo].[Asignaturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Nombre], [Titulo], [DuracionEstimadaAnios]) VALUES (1, 10, N'Ingeniería Civil', N'Ingeniero Civil', 6)
INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Nombre], [Titulo], [DuracionEstimadaAnios]) VALUES (2, 10, N'Ingeniería en Alimentos', N'Ingeniero de Alimentos', 2.5)
INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Nombre], [Titulo], [DuracionEstimadaAnios]) VALUES (3, 10, N'Ingeniería Electricista', N'Ingeniero Electricista', 6)
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[Facultades] ON 

INSERT [dbo].[Facultades] ([FacultadID], [Nombre], [Direccion], [Telefono], [DepartamentoAlumnos], [Facebook], [Instagram], [Twitter], [PaginaWeb], [Email], [RecorridoVirtual]) VALUES (1, N'Agronomía', N'Av. San Martín 4453 - CABA - (cp:C1417DSE)', 45248000, NULL, N'https://www.facebook.com/facultaddeagronomia.uba', N'https://www.instagram.com/fauba_oficial/', N'https://twitter.com/fauba_oficial', N'http://www.agro.uba.ar/', N'siav@mail.agro.uba', N'http://www.uba.ar/recorridos/agronomia/agronomia_entrada.html')
INSERT [dbo].[Facultades] ([FacultadID], [Nombre], [Direccion], [Telefono], [DepartamentoAlumnos], [Facebook], [Instagram], [Twitter], [PaginaWeb], [Email], [RecorridoVirtual]) VALUES (2, N'Arquitectura, Diseño y Urbanismo', N'Ciudad Universitaria. Nuñez -  Pabellón III - CABA - (cp:1428)', 52859200, NULL, N'https://www.facebook.com/faducomunica/', N'https://www.instagram.com/faducomunica/', N'https://twitter.com/faducomunica', N'http://www.fadu.uba.ar/', N'webmaster@fadu.uba.ar', N'http://www.uba.ar/recorridos/fadu/fadu_fachada.html')
INSERT [dbo].[Facultades] ([FacultadID], [Nombre], [Direccion], [Telefono], [DepartamentoAlumnos], [Facebook], [Instagram], [Twitter], [PaginaWeb], [Email], [RecorridoVirtual]) VALUES (3, N'Ciencias Económicas', N'Av. Córdoba 2122. - CABA - (cp:C1120AAQ)', 52857000, N'consultas@fce.uba.ar', N'https://www.facebook.com/economicas.uba', N'https://www.instagram.com/fceuba/', N'https://twitter.com/ubaeconomicas', N'http://www.econ.uba.ar/', NULL, N'http://www.uba.ar/recorridos/economicas/economicas_fachada.html')
SET IDENTITY_INSERT [dbo].[Facultades] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([MateriaID], [Codigo], [Nombre], [Creditos], [Horas], [Correlativas], [Categoria], [CarreraID]) VALUES (1, N'61.03', N'Análisis Matemático II A', 8, 128, N'Ciclo Basico Comun', N'Segundo Ciclo', 1)
INSERT [dbo].[Materias] ([MateriaID], [Codigo], [Nombre], [Creditos], [Horas], [Correlativas], [Categoria], [CarreraID]) VALUES (2, N'62.01', N'Física I A', 8, 128, N'Ciclo Basico Comun', N'Segundo Ciclo', 1)
INSERT [dbo].[Materias] ([MateriaID], [Codigo], [Nombre], [Creditos], [Horas], [Correlativas], [Categoria], [CarreraID]) VALUES (3, N'75.40', N'Algoritmos y Programación I', 6, 96, N'Ciclo Basico Comun', N'Segundo Ciclo', 1)
GO
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[Notas] ON 

INSERT [dbo].[Notas] ([NotasID], [AsignaturaID], [PrimerParcial], [PrimerRecuperatorio], [SegundoParcial], [SegundoRecuperatorio], [Final]) VALUES (1, 1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Notas] OFF
GO
/****** Object:  Index [UK_Asignaturas]    Script Date: 27/11/2020 3:08:14 ******/
ALTER TABLE [dbo].[Asignaturas] ADD  CONSTRAINT [UK_Asignaturas] UNIQUE NONCLUSTERED 
(
	[AsignaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Asignaturas_Alumnos_AlumnoID] FOREIGN KEY([AlumnoID])
REFERENCES [dbo].[Alumnos] ([AlumnoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asignaturas] CHECK CONSTRAINT [FK_Asignaturas_Alumnos_AlumnoID]
GO
ALTER TABLE [dbo].[Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Asignaturas_Materias_MateriaID] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asignaturas] CHECK CONSTRAINT [FK_Asignaturas_Materias_MateriaID]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_Facultades_FacultadID] FOREIGN KEY([FacultadID])
REFERENCES [dbo].[Facultades] ([FacultadID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_Facultades_FacultadID]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Carrera_CarreraID] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Carrera_CarreraID]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_Asignaturas_AsignaturaID] FOREIGN KEY([AsignaturaID])
REFERENCES [dbo].[Asignaturas] ([AsignaturaID])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_Asignaturas_AsignaturaID]
GO
USE [master]
GO
