@{
    ViewData["Title"] = "Programa de Gestion de Notas de Alumnos";
}

<div class="text-center">
    <h1 class="display-6">Bienvenidos al Programa de Gestion de Notas de Alumnos</h1>
    <p>
    Este programa le permitira ingresar los datos de los alumnos de su clase. Permitiendole mantener un registro de los mismos.
    </p>
</div>
