@{
    ViewData["Title"] = "Gestion de Notas de Alumnos";
}

<div class="text-center">
    <h1 class="display-6">Gestion de Alumnos</h1>
    <p>
        Este programa le permitira ingresar los datos de los alumnos de su clase. Permitiendole mantener un registro de los mismos.
    </p>
</div>

@section Scripts {
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
}



