@model MVCCore.DatabaseFirstModel.Notas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AsignaturaId" class="control-label"></label>
                <select asp-for="AsignaturaId" class ="form-control" asp-items="ViewBag.AsignaturaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrimerParcial" class="control-label"></label>
                <input asp-for="PrimerParcial" class="form-control" />
                <span asp-validation-for="PrimerParcial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerRecuperatorio" class="control-label"></label>
                <input asp-for="PrimerRecuperatorio" class="form-control" />
                <span asp-validation-for="PrimerRecuperatorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoParcial" class="control-label"></label>
                <input asp-for="SegundoParcial" class="form-control" />
                <span asp-validation-for="SegundoParcial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoRecuperatorio" class="control-label"></label>
                <input asp-for="SegundoRecuperatorio" class="form-control" />
                <span asp-validation-for="SegundoRecuperatorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Final" class="control-label"></label>
                <input asp-for="Final" class="form-control" />
                <span asp-validation-for="Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
