@model MVCCore.DatabaseFirstModel.Asignaturas

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Asignaturas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListadoAsignaturasId" class="control-label"></label>
                <select asp-for="ListadoAsignaturasId" class="form-control" asp-items="ViewBag.ListadoAsignaturasId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label"></label>
                <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label"></label>
                <select asp-for="CarreraId" class="form-control" asp-items="ViewBag.CarreraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comision" class="control-label"></label>
                <input asp-for="Comision" class="form-control" placeholder="######" />
                <span asp-validation-for="Comision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioEntrada" class="control-label"></label>
                <input asp-for="HorarioEntrada" type="time" class="form-control" value="00:00" />
                <span asp-validation-for="HorarioEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSalida" class="control-label"></label>
                <input asp-for="HorarioSalida" type="time" class="form-control" value="00:00" />
                <span asp-validation-for="HorarioSalida" class="text-danger"></span>
            </div>
            @*<div class="btn-group">
            <label asp-for="Dias" class="control-label"></label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="lunes" />
            <label for="lunes">lunes</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="martes" />
            <label for="martes">martes</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="miercoles" />
            <label for="miercoles">miercoles</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="jueves" />
            <label for="jueves">jueves</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="viernes" />
            <label for="viernes">viernes</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="sabado" />
            <label for="sabado">sabado</label>
            <input asp-for="Dias" class="btn-check" type="checkbox" name="Dias" id="domingo" />
            <label for="domingo">domingo</label>
            <span asp-validation-for="Dias" class="text-danger"></span>
        </div>*@
        <div class="btn-group">
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="lunes" name="Dias" value="Lunes">
                <label asp-for="Dias" class="form-check-label" for="lunes">Lunes</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="martes" name="Dias" value="Martes">
                <label asp-for="Dias" class="form-check-label" for="martes">Martes</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="miercoles" name="Dias" value="Miercoles">
                <label asp-for="Dias" class="form-check-label" for="miercoles">Miercoles</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="jueves" name="Dias" value="Jueves">
                <label asp-for="Dias" class="form-check-label" for="jueves">Jueves</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="viernes" name="Dias" value="Viernes">
                <label asp-for="Dias" class="form-check-label" for="viernes">Viernes</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="sabado" name="Dias" value="Sabado">
                <label asp-for="Dias" class="form-check-label" for="sabado">Sabado</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Dias" class="form-check-input" type="checkbox" id="domingo" name="Dias" value="Domingo">
                <label asp-for="Dias" class="form-check-label" for="domingo">Domingo</label>
            </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
