@model MVCCore.DatabaseFirstModel.Asignaturas

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Asignaturas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AsignaturaId" class="control-label"></label>
                <input asp-for="AsignaturaId" class="form-control" disabled />
                <input asp-for="AsignaturaId" class="form-control" hidden />
                <span asp-validation-for="AsignaturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListadoAsignaturasId" class="control-label"></label>
                <select asp-for="ListadoAsignaturasId" class="form-control" disabled asp-items="ViewBag.ListadoAsignaturasId"></select>
                <select asp-for="ListadoAsignaturasId" class="form-control" hidden asp-items="ViewBag.ListadoAsignaturasId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label"></label>
                <select asp-for="AlumnoId" class="form-control" disabled asp-items="ViewBag.AlumnoId"></select>
                <select asp-for="AlumnoId" class="form-control" hidden asp-items="ViewBag.AlumnoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label"></label>
                <select asp-for="CarreraId" class="form-control" disabled asp-items="ViewBag.CarreraId"></select>
                <select asp-for="CarreraId" class="form-control" hidden asp-items="ViewBag.CarreraId"></select>
                <span asp-validation-for="CarreraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comision" class="control-label"></label>
                <input asp-for="Comision" class="form-control" type="number" placeholder="######" min="1" max="999999" />
                <span asp-validation-for="Comision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioEntrada" class="control-label"></label>
                <input asp-for="HorarioEntrada" type="time" class="form-control" />
                <span asp-validation-for="HorarioEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSalida" class="control-label"></label>
                <input asp-for="HorarioSalida" type="time" class="form-control" />
                <span asp-validation-for="HorarioSalida" class="text-danger"></span>
            </div>
            <label asp-for="Dias" class="control-label"></label>
            <div class="btn-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="lunes" name="Dias" value="Lunes">
                    <label class="form-check-label" for="lunes">Lunes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="martes" name="Dias" value="Martes">
                    <label class="form-check-label" for="martes">Martes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="miercoles" name="Dias" value="Miercoles">
                    <label class="form-check-label" for="miercoles">Miercoles</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="jueves" name="Dias" value="Jueves">
                    <label class="form-check-label" for="jueves">Jueves</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="viernes" name="Dias" value="Viernes">
                    <label class="form-check-label" for="viernes">Viernes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sabado" name="Dias" value="Sabado">
                    <label class="form-check-label" for="sabado">Sabado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="domingo" name="Dias" value="Domingo">
                    <label class="form-check-label" for="domingo">Domingo</label>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Dias" class="form-control" hidden value="" />
                <span asp-validation-for="Dias" class="text-danger"></span>
            </div>
            <script type="text/javascript">
                let cbLunes = document.getElementById("lunes");
                @if (ViewBag.Dias[0] == true) {
                    @:cbLunes.checked = true;
                }
                let cbMartes = document.getElementById("martes");
                @if (ViewBag.Dias[1] == true) {
                    @:cbMartes.checked = true;
                }
                let cbMiercoles = document.getElementById("miercoles");
                @if (ViewBag.Dias[2] == true) {
                    @:cbMiercoles.checked = true;
                }
                let cbJueves = document.getElementById("jueves");
                @if (ViewBag.Dias[3] == true) {
                    @:cbJueves.checked = true;
                }
                let cbViernes = document.getElementById("viernes");
                @if (ViewBag.Dias[4] == true) {
                    @:cbViernes.checked = true;
                }
                let cbSabado = document.getElementById("sabado");
                @if (ViewBag.Dias[5] == true) {
                    @:cbSabado.checked = true;
                }
                let cbDomingo = document.getElementById("domingo");
                @if (ViewBag.Dias[6] == true) {
                    @:cbDomingo.checked = true;
                }
            </script>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>
@*@Html.ValidationMessage("Dias")*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
