@model MVCCore.DatabaseFirstModel.Carreras

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Carreras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label"></label>
                <input asp-for="CarreraId" class="form-control" readonly />
                <span asp-validation-for="CarreraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label"></label>
                <input asp-for="AlumnoId" class="form-control" hidden />
                <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId" disabled></select>
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListadoCarrerasId" class="control-label"></label>
                <select asp-for="ListadoCarrerasId" class="form-control" asp-items="ViewBag.ListadoCarrerasId"></select>
                <span asp-validation-for="ListadoCarrerasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
